*/
h1 {
   background-color: lightgreen; 
   color: black;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 3em;
}
.home { 
    display: inline-block;
    height: 300px;
    width: 33%;
    background-color: lightgreen;
    color: black;
    font-size: 1em;
    border: 1em;
    border-color: black;
}
nav {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}
li {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}
img {
    box-shadow: inset;
    width: 33%;
    height: 300px;
}


